body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.hero-section {
  background: url('assets\IMG20221224002913.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.text-content {
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  padding: 40px;
  max-width: 40%;
  margin-left: 5%;
  border-radius: 10px;
}

.text-content h1 {
  font-size: 48px;
  margin: 0 0 20px 0;
}

.text-content p {
  font-size: 18px;
  line-height: 1.6;
}

.social-link img {
  width: 32px;
  margin-top: 20px;
  filter: invert(1);
}
